* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #333;
}

figure {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
figure .frame {
  width: 100%;
  height: 100%;
  position: relative;
}
figure .frame article {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
figure .frame article .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: 9999px;
  background-size: cover;
  opacity: 0.7;
}
figure .frame article .bg > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  opacity: 0;
  background-image: inherit;
  background-size: inherit;
  background-repeat: inherit;
  background-position: center;
  transition-property: top, opacity;
  transition-duration: 0.5s;
}
figure .frame article .line {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
figure .frame article .line > div {
  height: 100%;
  position: absolute;
  top: 0;
  border-right: 1px solid #fff;
  opacity: 0.2;
}
figure .frame article .txt {
  width: 80%;
  left: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  z-index: 2;
}
figure .frame article .txt h2 {
  font: bold 6vw/1 "arial";
  color: rgba(255, 255, 255, 0.9);
  transform: translateX(-100%);
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s 0s;
}
figure .frame article .txt p {
  width: 40%;
  font: 16px/1.2 "arial";
  color: #fff;
  padding: 10px;
  opacity: 0.7;
  transform: translateX(-100%);
  transition: 0.5s 0s;
}
figure .frame article .txt .bar {
  width: 100%;
  margin-top: 15vh;
  position: relative;
}
figure .frame article .txt .bar::before {
  content: "";
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 0%;
  transition: 0.5s 0s;
}
figure .frame article .txt .bar ul {
  width: 25%;
  height: 40px;
  display: flex;
  position: absolute;
  right: 12.5%;
  bottom: 0;
}
figure .frame article .txt .bar ul li {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  font: bold 12px/1 "arial";
  color: #fff;
  padding-left: 5px;
  overflow: hidden;
}
figure .frame article .txt .bar ul li span {
  display: inline-block;
  transform: translateX(-110%);
  transition-duration: 0.5s;
  transition-delay: 0s;
}
figure .frame article .txt .bar button {
  width: 12.5%;
  height: 0px;
  background: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  font: bold 10px/1 "arial";
  color: #555;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s 0s;
}
figure .frame article.on {
  z-index: 3;
}
figure .frame article.on .bg > div {
  top: 0%;
  opacity: 1;
}
figure .frame article.on .txt h2 {
  transform: translateX(0%);
  transition: 1s 0.5s;
}
figure .frame article.on .txt p {
  transform: translateX(0%);
  transition: 1s 1.2s;
}
figure .frame article.on .txt .bar::before {
  width: 100%;
  transition: 1s 2s;
}
figure .frame article.on .txt .bar ul li span {
  transform: translateX(0%);
}
figure .frame article.on .txt .bar ul li:nth-of-type(1) span {
  transition-delay: 3.2s;
}
figure .frame article.on .txt .bar ul li:nth-of-type(2) span {
  transition-delay: 3.6s;
}
figure .frame article.on .txt .bar button {
  height: 40px;
  transition: 0.5s 3s;
}
figure .btns {
  width: 30%;
  position: absolute;
  bottom: 6vh;
  right: 10%;
  font-size: 0;
  z-index: 3;
}
figure .btns span {
  display: inline-flex;
  align-items: center;
  width: 33.3333333333%;
  height: 50px;
  font: bold 14px/1 "arial";
  padding-left: 5px;
}
figure .btns span a {
  display: inline-block;
  color: #999;
  cursor: pointer;
  padding-bottom: 10px;
  position: relative;
  transition: 0.5s;
}
figure .btns span a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #fff;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
figure .btns span.on a {
  color: #fff;
}
figure .btns span.on a::after {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
